<div class="row justify-content-center py-3">
  <!-- column (stock) -->
  <%- include('stock') %>
  <!-- column (activity) -->
  <%- include('activity') %>
  <!-- column (news) -->
  <%- include('news') %>
</div>
