<footer
  class="fixed-bottom bg-success d-md-flex text-center justify-content-md-between align-items-center p-2"
>
    <small class="m-0 d-none d-md-block">
  <a href="http://mothtech.herokuapp.com/fernando" class="nav-link p-0">
      <strong class="badge badge-black px-3 py-2">
        Desarrollado por Fernando Uribe
      </strong>
  </a>
    </small>
  <small class="m-0">
    <strong class="badge badge-black px-3 py-2">
      <i class="fas fa-copyright mr-1"></i>
      copyright - Uso exclusivo de Residencias 200
    </strong>
  </small>
  <small class="m-0 d-none d-md-block">
    <strong class="badge badge-black px-3 py-2">Av. Fuerzas Armadas, Esq. Crucesitas a Porvenir</strong>
  </small>
</footer>
