<footer
  class="fixed-bottom bg-success d-md-flex justify-content-between align-items-center p-2"
>
  <a href="http://mothtech.herokuapp.com/fernando" class="nav-link p-0">
    <small class="m-0">
      <strong class="badge badge-black px-3 py-2">
        Desarrollado por Fernando Uribe
      </strong>
    </small>
  </a>
  <small class="m-0">
    <strong class="badge badge-black px-3 py-2">
      <i class="fas fa-copyright mr-1"></i>
      copyright
    </strong>
    <strong class="ml-1">Uso exclusivo de Residencias 200</strong>
  </small>
  <small class="m-0">
    <strong>Av. Fuerzas Armadas, Esq. Crucesitas a Porvenir</strong>
  </small>
</footer>
